.sidepanel-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.sidepanel-container {
  position: fixed;
  display: flex;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  height: 100vh;
  width: 3.4rem;
}

.sidepanel-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.sidepanel-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.sidepanel-button.p-button {
  width: 3.4rem;
  height: 3.4rem;

  .p-button-icon {
    font-size: 1.6rem;
  }
}

.sidepanel-content {
  position: absolute;
  position: fixed;
  background-color: var(--surface-section);
  width: var(--sidepanel-content-width);
  right: 3.4rem;
  top: 0;
  padding: 0;
  height: 100vh;
  border-radius: 0;
  z-index: 3;
  transition: transform 1.2s;
}
