@import './base.css';
@import './styles/layout.css';
@import './styles/sidepanel.css';
@import './styles/tabs/taskResultFilter.css';
@import './styles/tabs/groundTargetFilter.css';
@import './styles/tabs/groundStationItem.css';
@import './styles/leaflet/map.css';
@import './styles/leaflet/scaleBarControl.css';
@import './styles/leaflet/interactivity.css';
@import './styles/leaflet/aoi.css';
@import './styles/dialogs/charts.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';
@import 'leaflet/dist/leaflet.css';

#app {
  /* width: 100%;   */
  margin: 0;
  padding: 0;
  font-weight: normal;
}
