@import './base.css';
@import './styles/layout.css';
@import './styles/sidepanel.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
}
