.leaflet-control-scaleBar {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: #000;
  font-family: monospace, monospace;
  font-size: 12px;
  font-variant-numeric: tabular-nums;
  white-space: pre;
}

.leaflet-control-scaleBar-coords {
  width: 8.6rem;
}

.leaflet-control-scaleBar-scale {
  margin-left: 1.2rem;
  width: 4rem;
}

.leaflet-control-scaleBar-rect {
  position: absolute;
  height: 100%;
  right: 0;
  background-color: silver;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.leaflet-control-scaleBar-rect-container {
  position: relative;
  height: 1.2rem;
  width: 6rem;
  margin-left: 0.8rem;
}
